{% extends "routing/header.html" %}

{% block content %}


<link rel="stylesheet" href="/static/css/error.css" type="text/css">

    <div id="clouds">
                <div class="cloud x1"></div>
                <div class="cloud x1_5"></div>
                <div class="cloud x2"></div>
                <div class="cloud x3"></div>
                <div class="cloud x4"></div>
                <div class="cloud x5"></div>
            </div>
            <div class='c'>
                <div class='_404'>ERROR</div>
                <hr>
                <div class='_1'>ROUTING</div>
                <div class='_2'>NOT POSSIBLE</div>
                <a class='btn' href='#'>PLAN NEW TRIP</a>
            </div>


{% endblock %}