{% extends "routing/header.html" %}

{% block content %}


<!-- INPUT -->
    <div id = "output">
        <form action="/index/">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate new trip</button>
        </form>




    <hr>

<!-- Output -->










<input class="hideme" type="text" id="start" value="{{ start }}">
<input class="hideme" type="text" id="destination" value="{{ destination }}">

<table class="table table-striped">

  <tbody>
    <tr>
      <th>Start</th>
      <td>{{ start }}</td>
    </tr>
    <tr>
      <th>Destination</th>
      <td>{{ destination }}</td>
    </tr>
    <tr>
      <th>Car</th>
      <td>{{ car }}</td>
    </tr>
      <tr>
      <th>Driving Style</th>
      <td>{{ driving_style }}</td>
    </tr>
    <tr>
      <th>Battery Status</th>
      <td>{{ battery_status }}</td>
    </tr>
    <tr>
      <th>Outside temperature</th>
      <td>{{ temperature }}</td>
    </tr>
      <tr>
      <th>Location</th>
      <td>{{ geo_coordinates }}</td>
    </tr>
        <tr>
      <th>Distance</th>
      <td>{{ distance }}</td>
    </tr>


  </tbody>
</table>




</div>


    <!-- Implementation Map -->
{% include "routing/includes/navigation.html" %}

{% endblock %}