{% extends "routing/header.html" %}

{% block content %}


<!-- INPUT -->
<div class="scroll">

    <div id = "output">
        <form action="/index/">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate new trip</button>
        </form>

    <hr>

<!-- Output -->
      <input class="hideme" type="text" id="start" value="{{ start }}">
      <input class="hideme" type="text" id="destination" value="{{ destination }}">
      <input class="hideme" type="text" id="waypoints" value="{{ waypoints }}">
      <input class="hideme" type="text" id="url" value="{{ url }}">

      <div class="tHead bg-dark text-white">Overview</div>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>Total Cost</th>
      <td>{{ total_cost }} Euro <br> {{ price }}</td>
    </tr>
    <tr>
      <th>Money saved*</th>
      <td>{{ money_saved }} Euro</td>
    </tr>
    <tr>
      <th>Distance</th>
      <td>{{ distance }} km</td>
    </tr>
     <tr>
      <th>Car Range</th>
      <td>{{ car_range }} km</td>
    </tr>
    <tr>
      <th>Temperature Start</th>
      <td>{{ temperature_start }} Celcius</td>
    </tr>
        <tr>
      <th>Temperature Destination</th>
      <td>{{ temperature_destination }} Celcius</td>
    </tr>
  </tbody>
</table>


      <div class="tHead bg-dark text-white">Charging Stations</div>
      <table class="table table-striped">
  <tbody>

  {% for waypoint in all_waypoints_string %}
    <tr>
      <th>Station {{ forloop.counter }}</th>
      <td>{{ waypoint|linebreaks }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>





      <div class="tHead bg-dark text-white">Estimated Time</div>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>Driving Time</th>
      <td>{{ driving_time }} h</td>
    </tr>
    <tr>
      <th>Charging Time</th>
      <td>{{ charging_time }} h</td>
    </tr>
     <tr>
      <th>Total Time</th>
      <td>{{ total_time }} h</td>
    </tr>
  </tbody>
</table>

 * compared to a car using 10 liter gas / 100km
        <br> <br>

  <div class="row">
        <div class="col-md-6 mb-3">
          <form action="{{ url }}">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Start Navigation <i class="glyphicon glyphicon-share-alt"></i></button>
          </form>
        </div>

        <div class="col-md-6 mb-3">
          <form action="/index/">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Export Trip <i class="glyphicon glyphicon-send"></i></button>
          </form>
        </div>
  </div>


</div>
</div>

    <!-- Implementation Map -->
{% include "routing/includes/navigation.html" %}

{% endblock %}