<!DOCTYPE html>
<html>
<head runat="server">
    <title></title>
    <script>
        function ShowWheel() {
            document.getElementById("processMessage").style.display="block";

        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" Text="ClickMe" onclick="Button1_Click" OnClientClick="ShowWheel()" />
    </div>
    <div id="processMessage" style="display:none; position:absolute; top:200px; left:300px;">
                Loading...<br />
                <br />
                <img alt="Loading" src="../images/ajax-loader.gif" />
     </div>

    </form>
</body>

<script>
  protected void Button1_Click(object sender, EventArgs e)
        {
            //simulate the processing
            System.Threading.Thread.Sleep(3000);
        }
        </script>
  </body>
</html>