{% extends "routing/header.html" %}

{% block content %}

<div class="rand">

    <div class="row">
  <div class="column">
    <div class="card">
      <img src='/static/img/Porsche-Mission-E.jpg' alt="Jane" style="width:100%">
      <div class="container">
        <h2>David Steiner</h2>
        <p class="title">Front &amp; Backend</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <img src='/static/img/Porsche-Mission-E.jpg' alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jan Pflaum</h2>
        <p class="title">Routing Algorithm</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <img src='/static/img/Porsche-Mission-E.jpg' alt="Jane" style="width:100%">
      <div class="container">
        <h2>Tobias Vancura</h2>
        <p class="title">Database</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
</div>

  <div class="column">
    <div class="card">
       <img src='/static/img/Porsche-Mission-E.jpg' alt="Jane" style="width:100%">
      <div class="container">
        <h2>Artem Nizaev</h2>
        <p class="title">Content</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
</div>

</div>



{% endblock %}

