{% extends "routing/header.html" %}

{% block content %}

<div class="rand">
  <h2>Contact</h2>
  <br>

        <img id='HTW' src='/static/img2/HTW.jpg' class='\responsive-img\'/>

        <br><br>This project was developed as part of the course Unternehmenssoftware <br>at the HTW Berlin under the supervision of <br>Prof. Dr. Axel Hochstein
        <br><br>
        <br><br>

    <div class="row">
  <div class="column">
    <div class="card">
      <img src='/static/img2/david.jpg' width="100%"; height="100%"/>

      <div class="container">
        <h2>David Steiner</h2>
        <p class="title">Front- &amp; Backend</p>
        <p>david.steiner@student.htw-berlin.de </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <img src='/static/img2/jan.jpg' width="100%"; height="100%"/>
      <div class="container">
        <h2>Jan Lukas Pflaum</h2>
        <p class="title">Routing Algorithm</p>
        <p>jl.pflaum@student.htw-berlin.de</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <img src='/static/img2/tobias.jpg' width="100%"; height="100%"/>
      <div class="container">
        <h2>Tobias Vancura</h2>
        <p class="title">Database & Server</p>
        <p>tobias.vancura@student.htw-berlin.de</p>
      </div>
    </div>
</div>


</div>

    <br><br>


</div>



{% endblock %}
