*{
    margin:0px;
    padding:0px;
    max-height:93vh;

}

#screen{
}


#menu{
    width:40%;
}

#input{
    padding:20px;
    width:40%;
}

#navigation{
    background-color: lightgrey;
    position: absolute;
    top:55px; right: 0; bottom: 0; left:40%;
}

#navigation-map{
    height:100%;
    width:100%;
    background-color:black;
}


#output{
    padding:20px;
    width:40%;
    overflow: auto;
}



#navigation2{
    max-height:100%;
    width: 60%;
    background-color: lightgrey;
    float: left;
}

#static-map{
    height:100%;
    width:100%;
    background-color:black;
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

.hideme
{
    display:none;
    visibility:hidden;
}


#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}

.tHead{
    text-align:center;
    font-size:18px;

}
