*{
    margin:0px;
    padding:0px;
    max-height:93vh;

}


#menu{
    width:40%;
}
@media screen and (max-width: 1000px) {
    #menu {
        width: 100%;
    }
}

#input{
    padding:20px;
    width:40%;
}
@media screen and (max-width: 1000px) {
    #input{
        width: 100%;
    }
}

#navigation{
    background-color: lightgrey;
    position: absolute;
    top:55px; right: 0; bottom: 0; left:40%;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 1000px) {
    #navigation {
        width: 0%;
        display: block;
    }
}

#navigation-map{
    height:100%;
    width:100%;
    background-color:black;
}


#output{
    padding:20px;
    width:40%;
    overflow: auto;
}

@media screen and (max-width: 1000px) {
    #output{
        width: 100%;
    }
}




#navigation2{
    max-height:100%;
    width: 80%;
    background-color: lightgrey;
    float: left;
}

#static-map{
    height:100%;
    width:100%;
    background-color:black;
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

.hideme
{
    display:none;
    visibility:hidden;
}



.profile{
    position:relative;
}

.profile_img{
    float:left;
    display:inline;
    margin-right:10px;
}

.profile_txt{


}

#container {

  width: 400px;
  height: 8px;
  position: relative;
}

.tHead{
    text-align:center;
    font-size:18px;

}



.rand{
    margin:50px;
    text-align:center;
}


/* Three columns side by side */
.column {
    width: 50%;
    display: inline-block;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

